.btn:hover
{
    color: blue;
    transition: 0.25s;
    background: white;
}

h1:hover
{
    color: white;
    transition: all 0.3s ease-in-out;
}

input:hover
{
    border: none;
    background: none;
    transition: 0.25s
}